---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Damian Romeijn</title>
	</head>
	<body>
		<section class="home" id="home">

			<section class="home-name">
				<h1>Damian</h1>
				<h2>Romeijn</h2>
				<h3>Frontend Developer & Designer</h3>
			</section>

			<ul class="navbar" id="side-navbar">
				<li><a class="nav-link" href="/">/Home</a></li>
				<li><a class="nav-link" href="/projects">/Projects</a></li>
				<li><a class="nav-link" href="/about">/About</a></li>
				<li><a class="nav-link" href="mailto:user@domain.com">/Contact</a></li>
				<li><a href="#home" class="navbar-button">Close</a></li>
			</ul>

			<a href="#side-navbar" tabindex="1" class="navbar-button">
				Open
			</a>
		</section>

		<section class="home-weather">
			<h4>Weather amsterdam proto</h4>
		</section>

	</section>
	</body>
</html>

<style>

html, body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Arial Narrow Bold', sans-serif;
	background-color: coral;
}



.home {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	height: 100vh;
	align-items: center;
	min-height: 100vh;
	padding: 0 1.5rem;
	grid-template-areas: 
		". b"
		"a a"
		"c .";
}

.home-name{
	display: flex;
	flex-direction: column;
	color: white;
	grid-area: a;

	h1, h2{
		font-size: 9vh;
		margin: 0;
	}

	h1{
		animation: fadeFirstName ease-in 1s;
	}

	h2, h3{
		animation: fadeLastname 4s;
	}
}

.navbar-button {
	position: fixed;
	z-index: 99;
	background: white;
	border: none;
	top: 2rem;
	right: 2rem;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	grid-area: b;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar {
	position: fixed;
	z-index: 100;
	inset: 0;
	list-style: none;
	background: black;
	transform: translateX(100vw);
	transition: transform 0.2s ease;
	padding: 0;
	margin: 0;
	visibility: hidden;  
	overflow: hidden;
}

.nav-link {
	display: flex;
	place-self: center;
	color: gray;
	text-decoration: none;
	font-size: 20vw;
	padding: 10px;
	display: inline-block;

	&:hover, &:focus {
		animation: link-hover 0.5s;
		color: white;
	}
}
#side-navbar:target {
	transform: translateX(0);
	visibility: visible;   
	padding: 10px;             
}

.home-weather{
	position: absolute;
	bottom: 5%;
	color: white;
	grid-area: c;
}

@keyframes link-hover {
	0% {
		scale: 1;
	}
	50% {
		scale: 1.1;
	}

	100% {
		scale: 1;
	}
}

@keyframes fadeFirstName {
	0% {
		width: 0%;
		opacity: 0;
		
	}
	100% {
		width: 100%;
		opacity: 1;
	}
}

@keyframes fadeLastname {
  0% {
	opacity: 0;
  }
  100% {
	opacity: 1;
  }
}
</style>