---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Damian Romeijn</title>
	</head>
	<body>
		<section class="home" id="#home">

			<section class="home-name">
				<h1>Damian</h1>
				<h2>Romeijn</h2>
				<h3>Frontend Designer & Developer</h3>
			</section>

		<section class="navbar-container">

			<ul class="navbar" id="side-navbar">
				<li><a href="/">Home</a></li>
				<li><a href="#projects">Projects</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>

			<a href="#side-navbar" class="navbar-button">
				<p>open</p>
			</a>
		</section>

		<section class="home-weather">
			<h4>Weather amsterdam proto</h4>
		</section>

	</section>
	</body>
</html>

<style>

body{
	margin: 0;
	box-sizing: border-box;
	font-family:'Arial Narrow Bold', sans-serif;
	background-color: #333;
	height: 100vh;
}

.home {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	height: 100vh;
	align-items: center;
	padding: 0 1.5rem;
	grid-template-areas: 
		". b"
		"a a"
		"c .";
}

.home-name{
	display: flex;
	flex-direction: column;
	color: white;
	grid-area: a;

	h1, h2{
		font-size: 9vh;
		margin: 0;
	}

	h1{
		animation: fadeFirstName ease-in 1s;
	}

	h2{
		animation: fadeLastname 4s;
	}
}

.navbar-button {
  position: fixed;
  z-index: 99;
  background: white;
  border: none;
  cursor: pointer;
  top: 2rem;
  right: 2rem;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  grid-area: b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

   span {
      display: block;
      width:1.3rem;
      height:.15rem;
      transition: .3s;
      grid-area: 1/1;
      background-color: black;

    :nth-of-type(1){
      transform: translateY(-.425rem);
    }


    :nth-of-type(3){
    transform: translateY(.425rem);
    }
  } 
}

.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 80vh;
  list-style: none;
  background: black;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.2s ease;
}

.close {
  position: absolute;
  border: none;
  color: white;
  cursor: pointer;
  top: 1rem;
  right: 1rem;
}


.home-weather{
	position: fixed;
	bottom: 10%;
	color: white;
	grid-area: c;
}


@keyframes fadeFirstName {
	0% {
		width: 0%;
		opacity: 0;
		
	}
	100% {
		width: 100%;
		opacity: 1;
	}
}

@keyframes fadeLastname {
  0% {
	opacity: 0;
  }
  100% {
	opacity: 1;
  }
}
</style>