---
import Header from '../components/SideBar.astro';
import Eyes from '../components/EyeBody.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Hi there! My name is Damian Romeijn. Currently studying at the Hogeschool van Amsterdam. HTML, CSS, JS, SvelteKit, Astro.js" />
		<title>Damian Romeijn</title>
	</head>
	<body>
		<Header />
		<Eyes />
	</body>
</html>

<style>

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, Helvetica, sans-serif;
	background-color: #366339;
}

 body::before{
	content: '';
	font-size: 15vw;
  display: grid;
  place-content: center;
  position: fixed;
  inset: 0;
  z-index: 110;
  animation: fade-out 3.8s forwards;
} 
@keyframes fade-out {
  0% {
		height: 100vh;
		width: 100vw;
		background-color: #366339;
		opacity: 1;
  }

	3% {
		content: 'Welcome!';
		opacity: 1;
		height: 100vh;
		width: 100vw;
		background-color: #366339;
	}

	20% {
		content: 'Willkommen!';
		opacity: 1;
		height: 100vh;
		width: 100vw;
		background-color: #366339;
	}

	30% {
		content: 'ようこそ!';
		opacity: 1;
		height: 100vh;
		width: 100vw;
		background-color: #366339;
	}

	40% {
		content: 'Bienvenue!';
		opacity: 1;
		height: 100vh;
		width: 100vw;
		background-color: #366339;
	}

	50% {
		content: 'Welkom!';
		opacity: 1;
		height: 100vh;
		width: 100vw;
		background-color: #366339;
	}

	60% {
		content: '欢迎!';
		opacity: 1;
		height: 100vh;
		width: 100vw;
		background-color: #366339;
	}

	70% {
		content: 'Välkommen!';
		opacity: 1;
		height: 100vh;
		width: 100vw;
		background-color: #366339;
		scale: 1;
	}

	80% {
		opacity: 1;
		height: 100vh;
		width: 100vw;
		background-color: #366339;
		scale: 1;
	}

	90% {
		height: 100vh;
		width: 100vw;
		background-color: #366339;
		opacity: 1;
		border-radius: 15px;
		scale: 0;
	}

	95% {
		background-color: #366339;
		height: 100vh;
		width: 100vw;
		opacity: 0;
		scale: 0;
		z-index: 110;
	}

	100% {
		opacity: 0;
		z-index: -1;
	}
}


@keyframes fadeFirstName {
	0% {
		width: 0%;
		opacity: 0;
		
	}
	100% {
		width: 100%;
		opacity: 1;
	}
}

@keyframes fadeLastname {
  0% {
	opacity: 0;
  }
  100% {
	opacity: 1;
  }
}
</style>