---
import Header from '../components/SideBar.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Damian Romeijn</title>
	</head>
	<body>
		<section class="home" id="home">

			<section class="home-name">
				<h1>Damian</h1>
				<h2>Romeijn</h2>
				<h3>Frontend Developer & Designer</h3>
			</section>
		</section>
		<Header />
	</body>
</html>

<style>

html, body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
	background-color: coral;
}

body::before{
	content: '';
	font-size: 15vw;
  display: grid;
  place-content: center;
  position: fixed;
  inset: 0;
  z-index: 110;
  animation: fade-out 6.2s forwards;
}

@keyframes fade-out {
  0% {
		content: 'Welkom!';
		height: 100vh;
		width: 100vw;
		background-color: #366339;
		opacity: 1;
  }

	10% {
		content: 'Welcome!';
		opacity: 1;
		height: 100vh;
		width: 100vw;
		background-color: #366339;
	}

	20% {
		content: 'Willkommen!';
		opacity: 1;
		height: 100vh;
		width: 100vw;
		background-color: #366339;
	}

	30% {
		content: 'ようこそ!';
		opacity: 1;
		height: 100vh;
		width: 100vw;
		background-color: #366339;
	}

	40% {
		content: 'مرحباً!';
		opacity: 1;
		height: 100vh;
		width: 100vw;
		background-color: #366339;
	}

	50% {
		content: 'Välkommen!';
		opacity: 1;
		height: 100vh;
		width: 100vw;
		background-color: #366339;
	}

	60% {
		content: 'Bienvenido!';
		opacity: 1;
		height: 100vh;
		width: 100vw;
		background-color: #366339;
	}

	70% {
		content: '欢迎!';
		opacity: 1;
		height: 100vh;
		width: 100vw;
		background-color: #366339;
		scale: 1;
	}

	80% {
		content: 'Bienvenue!';
		opacity: 1;
		height: 100vh;
		width: 100vw;
		background-color: #366339;
		scale: 1;
	}

	90% {
		height: 100vh;
		width: 100vw;
		background-color: coral;
		opacity: 1;
		border-radius: 15px;
		scale: 0;
	}

	95% {
		background-color: coral;
		height: 100vh;
		width: 100vw;
		opacity: 0;
		scale: 0;
		z-index: 110;
	}

	100% {
		opacity: 0;
		z-index: -1;
	}
}

.home {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	height: 100vh;
	align-items: center;
	height: 100vh;
	padding: 0 1.5rem;
	grid-template-areas: 
		". b"
		"a a"
		"c .";
}

.home-name{
	display: flex;
	flex-direction: column;
	color: #141414;
	grid-area: a;

	h1, h2{
		font-size: 20vw;
		margin: 0;
	}

	h1{
		animation: fadeFirstName ease-in 1s;
	}

	h2, h3{
		animation: fadeLastname 4s;
	}
}

.home-weather{
	position: absolute;
	bottom: 5%;
	color: white;
	grid-area: c;
}


@keyframes fadeFirstName {
	0% {
		width: 0%;
		opacity: 0;
		
	}
	100% {
		width: 100%;
		opacity: 1;
	}
}

@keyframes fadeLastname {
  0% {
	opacity: 0;
  }
  100% {
	opacity: 1;
  }
}
</style>