<section class="home" id="home">
  <div class="eyes">

    <h1>DAMIAN</h1>

    <div class="eye">
      <div class="ball"></div>
    </div>

    <div class="eye">
      <div class="ball"></div>
    </div>
    <h2>ROMEIJN</h2>
  </div>
</section>

<style>

.home {
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #366339;
}
.eyes{
	width: 100%;
	text-align: center;
}

.eyes h1, h2{
  font-size: 12vw;
  font-weight: 1000;
  margin: 0;
  padding: 0;
  color: black;
}

.eye{
	position: relative;
	display: inline-block;
	width: 75px;
	height: 75px;
	background-color: black;
	margin: 25px;
	border-radius: 75% 0;
	transform: rotate(45deg);
	overflow: hidden;
}

.ball{
	height: 25px;
	width: 25px;
	position: absolute;
	background-color: #FF4002;
	border: 7.5px solid white;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  animation: movingeyes 8s infinite ease;
}

@keyframes movingeyes{
  0%{
    top: 50%;
    left: 50%;
    border: 7.5px solid white;
    background-color: #366339;
  }

  21%{
    top: 60%;
    left: 60%;
    border: 7.5px solid white;
    background-color: #FF4002
  }

  25%{
    top: 65%;
    left: 60%;
    background-color: black;
    border: 7.5px solid black;
  }

  29%{
    border: 7.5px solid white;
    background-color: blueviolet;
  }

  50%{
    top: 50%;
    left: 67%;
    border: 7.5px solid white;
    background-color: teal;
  }

  75%{
    top: 60%;
    left: 80%;
    border: 7.5px solid white;
    background-color: #FF4002;
    scale: 1;
  }

  100%{
    top: 50%;
    left: 50%;
    border: 7.5px solid white;
    background-color: #366339;
  }
}

@media screen and (min-width: 700px) {
    .eye{
			width: 150px;
      height: 150px;
      margin: 50px;
      
    }
    .ball {
    height: 50px;
	  width: 50px;
    }

    @keyframes movingeyes{
      0%{
    top: 60%;
    left: 60%;
    border: 15px solid white;
    background-color: #366339;
  }

  21%{
    top: 70%;
    left: 50%;
    border: 15px solid white;
    background-color: #FF4002
  }

  25%{
    top: 65%;
    left: 60%;
    background-color: black;
    border: 15px solid black;
  }

  29%{
    border: 15px solid white;
    background-color: blueviolet;
  }

  50%{
    top: 50%;
    left: 67%;
    border: 15px solid white;
    background-color: teal;
  }

  75%{
    top: 60%;
    left: 80%;
    border: 15px solid white;
    background-color: #FF4002;
    scale: 1;
  }

  100%{
    top: 60%;
    left: 60%;
    border: 15px solid white;
    background-color: #366339;
  }
}
}
</style>
