<section class="title">
	<h4>FRONTEND DESIGNER & DEVELOPER</h4>
</section>


<style>
.title{
	display: flex;
	position: sticky;
	align-items: center;
	justify-content: center;
	height: 72px;
	background-color: #FF4002;
	width: 100%;
	border-top: 10px solid black;

	
	& h4{
		font-weight: bold;
		font-size: 4vw;
	}
}
</style>