<script>
	const item = document.querySelector('.title');
	window.addEventListener('resize', () => item.innerHTML = item.innerHTML);
</script>


<section class="title">
	<h3>FRONTEND DESIGNER & DEVELOPER</h3>
</section>


<style>
.title{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 72px;
	background-color: #FF4002;
	width: 100%;
	border-top: 10px solid black;

	
	& h3{
		font-weight: bold;
		font-size: 4vw;
	}
}
</style>