---
import ProjectTitle from "../components/ProjectData.astro"
import data from "../data/projects.json";
---

<section class="project-list-container" id="project-list-container">
  <ul class="project-list">
    {data.map((project) => ( 
      <li><a href={`/projects/${project.key}`}>
          <ProjectTitle
              title={project.title}
          />
        </a>
      </li>
    ))}
  </ul>
</section>

<style>

.project-list-container {
  height: min-content;
  background-color: #FF4002;
}

.project-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  padding: 0 30px;
  font-size: 5vw;
  border-bottom: 3px solid black;
  transition: 0.2s;
}

a {
  text-decoration: none;
  color: black;
  gap: 2em;
}

</style> 