---
import ProjectTitle from "../components/ProjectData.astro"
import data from "../data/projects.json";
---

<section class="project-list-container">
  <ul class="project-list">
    {data.map((project) => ( 
      <li><a href={`/projects/${project.key}`}>
          <ProjectTitle
              title={project.title}
          />
        </a>
      </li>
    ))}
  </ul>
</section>

<style>

.project-list-container{
  height: fit-content;
  background-color: #FF4002;
}
.project-list{
  margin: 0;
}
li, a{
  margin: 0;
  padding: 0 30px;
  font-size: 8vw;
  text-decoration: none;
  color: black;
  border-bottom: 3px solid black;
  transition: .2s;
}

</style> 