---
export interface Props {
    key: string;
    title: string;
    dates: string;
    description: string;
    image: string; 
}

const { title, dates, description, image } = Astro.props;

---

    <h1>{title}</h1>
    <small>{dates}</small>
    <p>{description}</p>
    <img src={image}/>