<ul class="navbar" id="side-navbar">
  <li><a class="nav-link" href="/" aria-label="Home">/Home</a></li>
  <li><a class="nav-link" href="/projects" aria-label="Projects">/Projects</a></li>
  <li><a class="nav-link" href="/about" aria-label="About">/About</a></li>
  <li><a class="nav-link" href="mailto:user@domain.com" aria-label="Contact">/Contact</a></li>
  <li><a href="#home" class="navbar-button" aria-label="Close-menu">Close</a></li>
</ul>

<a href="#side-navbar" class="navbar-button" aria-label="Open-menu">
  Open
</a>

<div class="title">
	<h4>FRONTEND DESIGNER & DEVELOPER</h4>
</div>

<style>
  .navbar-button {
	position: fixed;
	z-index: 99;
	background: black;
	top: 2rem;
	right: 2rem;
	height: 60px;
	width: 60px;
	border-radius: 75% 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	transition: .2s;
	transform: rotate(45deg);
	}
	.navbar-button a{
		transform: rotate(90deg);
	}

.navbar {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 100;
	inset: 0;
	list-style: none;
	background: #366339;
	transform: translateX(100%);
	transition: transform 0.2s ease;
	padding: 0;
	margin: 0;
	visibility: hidden;  
}

.navbar-button:hover{
scale: 1.1;
}

.nav-link {
	display: inline-block;
	color: white;
	text-decoration: none;
	font-size: 19vw;
	padding: 0 40px;
	text-align: center;
	transition: .25s;

	&:hover, &:focus {
		transform: translate(10%, 0%);
	}
}
#side-navbar:target {
	transform: translateX(0);
	visibility: visible;               
}

.title{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 62px;
	position: absolute;
	bottom: 0;
	background-color: #FF4002;
	width: 100%;
	border-top: 10px solid black;
	

	& h4{
		font-weight: bold;
		font-size: 4vw;
	}
}
</style>